@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --desktop-wallpaper: url("/wallpapers/win7.jpg");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.taskbar-blur {
  background-color: gray;
  background-clip: padding-box;
  backdrop-filter: blur(8px) saturate(100%) contrast(100%);
  opacity: 10%;
}

/* This stuff is generated */

.bg-blur-effect {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  background: rgba(0, 20, 40, 0.4);
  backdrop-filter: blur(6px) saturate(150%) brightness(1);
  -webkit-backdrop-filter: blur(8px) saturate(150%) brightness(0.8);
  box-shadow: 0 -1px 0 0 #00506b;
}

.bg-blur-effect::after {
  content: '';
  position: absolute;
  inset: 0;
  /* background: linear-gradient(to top, rgba(0, 20, 40, 0.6), rgba(0, 60, 120, 0.2)); */
  border-top: solid 1px rgba(255, 255, 255, 0.2);
  pointer-events: none;
}