@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --desktop-wallpaper: url("/wallpapers/win7.jpg");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.bg-blur,
.bg-blur-hover {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* Glass Layer */
.bg-blur::before,
.bg-blur-hover:hover::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgba(0, 20, 40, .3);
  @apply backdrop-blur-[4px] backdrop-saturate-[125%];
}

.bg-blur::before {
  border-top: 1px solid #4b4b4b;
  box-shadow: inset 0px 5px 10px -9px #ffffff;
}

.bg-blur-hover {
  transition: .2s all;
}

.bg-blur-hover:hover {
  border: 1px solid rgba(255, 255, 255, .35);
}

.bg-blur-hover:hover::before {
  background: rgba(0, 20, 40, .25);
}

/* Extra Texture */
.bg-blur-texture::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, transparent 80%);
  pointer-events: none;
  z-index: -1;
}

.bg-blur-hover:hover::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, .2) 0%, transparent 100%);
  pointer-events: none;
  z-index: -1;
}

.taskbar-icon {
  position: relative;
  display: inline-block;
  transition: .2s all;
}

.taskbar-icon::before,
.taskbar-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 70%;
  width: 1px;
  /* background-color: #000;  */
  background: rgba(173, 173, 173, 0.03);
  background: linear-gradient(180deg, rgba(173, 173, 173, 0) 0%, rgba(125, 125, 125, 1) 50%, rgba(173, 173, 173, 0) 100%);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.taskbar-icon::before {
  left: -1px;
}

.taskbar-icon::after {
  right: -1px;
}

.taskbar-icon:hover::before,
.taskbar-icon:hover::after {
  opacity: 1;
}

.taskbar-icon:hover {
  background: transparent;
  background: radial-gradient(circle at center bottom,
      rgba(237, 235, 235, 1) 0%,
      rgba(237, 235, 235, 0) 20%);
}

.show-desktop-btn {
  border: 1px solid transparent;
  height: calc(100% - 2px);
  transition: .2s all;

  background: rgba(255, 255, 255, 0.025);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  @apply backdrop-blur-[2px];
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.show-desktop-btn:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  @apply backdrop-blur-[8px];
  border: 1px solid rgba(255, 255, 255, 0.27);
}