@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --desktop-wallpaper: url("/wallpapers/win7.jpg");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

/* .taskbar-blur {
  background-color: gray;
  background-clip: padding-box;
  backdrop-filter: blur(4px) saturate(100%) contrast(100%);
  opacity: 10%;
} */

.bg-blur-effect {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* Glass Layer */
.bg-blur-effect::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;

  background: rgba(0, 20, 40, .5);

  @apply backdrop-blur-[5px] backdrop-saturate-[130%];

  border-top: 1px solid rgba(125, 125, 125, 1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

/* Extra Texture */
.bg-blur-effect::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, .15) 0%, transparent 90%);
  pointer-events: none;
  z-index: -1;
}